.footer_container {
  background-color: #2e3038;
  color: #fff;
  padding: 10px 0;
}
.social_media_container {
  text-align: right;
  position: relative;
  top: 4px;
  img {
    margin-left: 10px;
  }
}
.name_container {
  position: relative;
  top: 4px;
}
